* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tamaño de la caja, como se va calcular en base al padding, marge, al tamaño del elemento, esa caja que rodea al elemento  */
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato sans-serif;
  margin-top: 30px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 20px, 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;/* para que los elementos no necesarimanete se ajusten a una sola linea,fila, sino que alguno de los elementos toma todoe el ancho, los demás van a seguir fluyendo hacía abajo en base a como se puede reajustar*/   
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  width: 400px;
  height: 50px;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}
